[submodule "Classes/Additions/NSString/GTMBase64"]
	path = Classes/Additions/NSString/GTMBase64
	url = git://github.com/yangchenghu/GTMBase64.git
[submodule "Classes/iConsole"]
	path = Classes/iConsole
	url = git://github.com/yangchenghu/iConsole.git
